body {
  font-family: Poppins, sans-serif;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.masthead {
  background-color: #000;
}

.current {
  color: #237d13;
}

.nav {
  text-align: right;
}

.nav a:hover .nav a:focus {
  outline: 3px solid #000;
}

.nav a:hover {
  color: #237d13;
}

.outline-color {
  color: #b5ffa8;
}

.relative {
  position: relative;
}

.item {
  display: none;
}

.easy {
  width: 80%;
  position: absolute;
  transform: translateY(-8rem);
  color: #000;
}

.credit {
  position: absolute;
  width: 70%;
  transform: translateY(-3.5rem);
}

.banner-button {
  transform: translateY(1.75rem);
}

.btn {
  border-color: #237d13;
  background-color: #237d13;
  color: #fff;
}

.btn-ghost {
  color: #000;
  border-style: solid;
  border-width: 3px;
  border-color: #237d13;
  background-color: #fff;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #237d13;
  border-color: #fff;
}

table {
  min-width: 50em;
}

.yes {
  color: #237d13;
}

.no {
  color: #e61d12;
}

.dollar,
.points {
  width: 26%;
}

.grey {
  background-color: #f3f3f3;
}

footer {
  background-color: #000;
  color: #fff;
}

section,
span {
  width: 100%;
}

.skip-links {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.benefit-content {
  background-color: #e8e8e8;
}

.btn-button {
  border-color: #237d13;
  background-color: #237d13;
  color: #fff;
}

.flex {
  display: inline-block;
}

.adidas {
  width: 55%;
}

.simons {
  width: 60%;
}

.hm {
  width: 30%;
}

.zara {
  width: 40%;
}

@media only screen and (min-width: 25em) {

  .relative {
    position: relative;
  }

  .credit {
    position: absolute;
    transform: translateY(-6rem);
    width: 65%;
  }

  .easy {
    position: absolute;
    transform: translateY(-10.5rem);
    width: 60%;
  }

  .banner-button {
    position: absolute;
    transform: translateY(-2.7rem);
  }

}

@media only screen and (min-width: 38em) {

  .relative {
    position: relative;
  }

  .credit {
    position: absolute;
    transform: translateY(-7.5rem);
    width: 55%;
  }

  .easy {
    position: absolute;
    transform: translateY(-13rem);
    width: 60%;
  }

  .banner-button {
    position: absolute;
    transform: translateY(-3.5rem);
  }

  .adidas {
    width: 40%;
  }

}

@media only screen and (min-width: 60em) {

  .item {
    display: block;
  }

  .credit {
    color: #fff;
    position: absolute;
    transform: translateY(-12rem);
    width: 45%;
  }

  .easy {
    color: #fff;
    position: absolute;
    transform: translateY(-18rem);
    width: 60%;
  }

  .banner-button {
    position: absolute;
    transform: translateY(-8rem);
  }

  .list {
    width: 60%;
  }

  .table-wrapper {
    overflow: visible;
  }

  .adidas {
    width: 50%;
  }

  .simons {
    width: 80%;
  }

  .hm {
    width: 50%;
  }

  .zara {
    width: 60%;
  }

}

@media only screen and (min-width: 96em) {

  .credit {
    position: absolute;
    transform: translateY(-14rem);
    width: 45%;
  }

  .easy {
    position: absolute;
    transform: translateY(-27rem);
    width: 60%;
  }

  .banner-buttom {
    position: absolute;
    transform: translateY(-10rem);
  }

  .description {
    width: 75%;
  }

  .adidas {
    width: 45%;
  }

  .simons {
    width: 75%;
  }

  .hm {
    width: 45%;
  }

  .zara {
    width: 55%;
  }

}
