body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #000;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.current {
  color: #237d13;
}

.nav {
  text-align: right;
}

.nav a:hover {
  color: #237d13;
}

.relative {
  position: relative;
}

.item {
  display: none;
}

.easy {
  width: 80%;
  position: absolute;
  transform: translateY(-8rem);
  color: #000;
}

.credit {
  position: absolute;
  width: 70%;
  transform: translateY(-3.5rem);
}

.btn-small {
  border-color: #237d13;
  background-color: #237d13;
  color: #fff;
  transform: translateY(-.25rem);
}

.btn {
  border-color: #237d13;
  background-color: #237d13;
  color: #fff;
}

section,
span {
  width: 100%;
}

.benefit-content {
  background-color: #e8e8e8;
}

footer {
  background-color: #000;
  color: #fff;
}

.btn-button {
  border-color: #237d13;
  background-color: #237d13;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  .easy {
    width: 70%;
  }

  .relative {
    position: relative;
  }

  .credit {
    position: absolute;
    transform: translateY(-6rem);
    width: 60%;
  }

  .easy {
    position: absolute;
    transform: translateY(-10.5rem);
    width: 60%;
  }

  .btn-small {
    position: absolute;
    transform: translateY(-3rem);
  }

}

@media only screen and (min-width: 38em) {

  .easy {
    width: 70%;
  }

  .relative {
    position: relative;
  }

  .credit {
    position: absolute;
    transform: translateY(-7.5rem);
    width: 45%;
  }

  .easy {
    position: absolute;
    transform: translateY(-13rem);
    width: 60%;
  }

  .btn-small {
    position: absolute;
    transform: translateY(-4rem);
  }

}

@media only screen and (min-width: 60em) {

  .item {
    display: block;
  }

  .credit {
    color: #fff;
    position: absolute;
    transform: translateY(-12rem);
    width: 45%;
  }

  .easy {
    color: #fff;
    position: absolute;
    transform: translateY(-18rem);
    width: 60%;
  }

  .btn-small {
    position: absolute;
    transform: translateY(-8rem);
  }

  .list {
    width: 60%;
  }

}

@media only screen and (min-width: 96em) {

  .credit {
    position: absolute;
    transform: translateY(-14rem);
    width: 45%;
  }

  .easy {
    position: absolute;
    transform: translateY(-27rem);
    width: 60%;
  }

  .btn-small {
    position: absolute;
    transform: translateY(-10rem);
  }

}
