body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #000;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

.current {
  color: #237d13;
}

.nav {
  text-align: right;
}

.nav a:hover {
  color: #237d13;
}

.btn {
  border-color: #237d13;
  background-color: #237d13;
  color: #fff;
}

footer {
  background-color: #000;
  color: #fff;
}
